# Terms:
- **Dropout**: Turn off some nodes to prevent overfitting.
- **Overfitting**: Model learns from the training data too well, infact memorizes it instead of generalizing, so it performs poorly on new data. In other words, the model performs very well on training data, but very poorly on fresh new data.
- **Underfitting**: Model is too simple to capture the patterns in the data. It will perform poorly on both training and test data.

In [3]:
# LEARNING: Print statement executed
print('Hello, World!')

Hello, World!

In [4]:
# LEARNING: Print a pattern
n = int(input())
for times in range(n,0,-1):
    print('*' * times)

ValueError: invalid literal for int() with base 10: ''

`print('str' * times)` prints str n times.

In [ ]:
# LEARNING: Print data types
dataset=('str',6,6.5,11/10,10/11)
for data in dataset:
    print(type(data))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
n = 5

for _ in range(n):
    print("inside for loop")

print('\n')

while n!=0:
    print("inside while loop")
    n-=1

inside for loop
inside for loop
inside for loop
inside for loop
inside for loop


inside while loop
inside while loop
inside while loop
inside while loop
inside while loop

In [ ]:
# LEARNING: Defining a Tuple
tup = ('hi',1,False)    # Tuples can have multiple data types in them.
print(tup[:2])          # Range: 0-1

('hi', 1)

In [ ]:
# Exercise 1
if __name__ == "__main__":
    try:
        x = 10
        y = 25
        tasks = (x+y,
                x-y,
                x/y,
                x%y,
                # x%%y,
                x+y+10,
                x+2,
                y+1)

        for task in tasks:
            print(task)
    except SyntaxError:
        print("Error")

35
-15
0.4
10
45
12
26

In [ ]:
# Exercise 2
crime_years=[2001,2002,2003,2010,2006,2009]
crime_count=[1000,2000,3000,4000,5000]

print(crime_years[0])
print(crime_years[1])
print(crime_years[5])
# Print value at index (len -1)
print(crime_years[-1])

2001
2002
2009
2009

In [ ]:
# Exercise 3
crime_years=[2001, 2002, 2003, 2010, 2006, 2009]
print(crime_years[1:2])
print(crime_years[0:3])     # Include 0, exclude 3, range: 0-2
print(crime_years[:3])
print(crime_years[3:])
print(crime_years[0:1])
print(crime_years[0:])
print(crime_years[:])
print(crime_years[0:5:2])   # Step count: 2
print(crime_years[::2])     # Step count: 2, from beginning to end
print(crime_years[::])      # Same as [:]

[2002]
[2001, 2002, 2003]
[2001, 2002, 2003]
[2010, 2006, 2009]
[2001]
[2001, 2002, 2003, 2010, 2006, 2009]
[2001, 2002, 2003, 2010, 2006, 2009]
[2001, 2003, 2006]
[2001, 2003, 2006]
[2001, 2002, 2003, 2010, 2006, 2009]

In [ ]:
# Exercise 4
x=[0,1,2,3,4,5,6,7,8,9,10]
print(x[::2])
print(x[-1:-7:-1])
print(x[::-2])

[0, 2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5]
[10, 8, 6, 4, 2, 0]

In [ ]:
# List Comprehension
x=[1,2,3,4,5]
y=[i*i for i in x]  # Take each i, square it (i*i)
print(y)

[1, 4, 9, 16, 25]

In [ ]:
# Exercise 5
x=[i for i in range(10)] # x = [0,1,2,3,4,5,6,7,8,9]
y=[]
y = [i if i < 5 else i*2 for i in x] # y=x, if i<5, otherwise y=i*2
print(f'y={y}')
y = [i+5 if i<5 else i-5 for i in x] # y=x+5, if i<5, otherwise y=x-5
print(f'y={y}',end='') # DEFAULT: print puts `\n` at last. end='': don't put `\n`.

y=[0, 1, 2, 3, 4, 10, 12, 14, 16, 18]
y=[5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [ ]:
# Learning: Dictionaries
temp_dict = {1:'one',
             2:'two',
             3:'three',
             4:'four'}
for key in temp_dict:
    print(temp_dict[key]) # Iterate over all the keys and print their values

temp_dict.get(1) # Print the corresponding value
# ERROR: Key not found
temp_dict.get(5)     # Do nothing
try:
    temp_dict[5]     # Complain: KeyError
except KeyError:
    print("Key doesn't exist!")

one
two
three
four
Key doesn't exist!

In [ ]:
# Learning: Set
temp_set1 = {1,2,3,4}
temp_set2 = {1,'2',3,3,4} # Sets will eliminate duplicates
temp_set3 = {11,12,13,14,15} # Nested Set
# Set stores elements in an unordered manner, so can't be printed by index.
print(temp_set2,end='\n\n')

# Functions
temp_set1.add(5)
temp_set1.remove(1)
temp_set2.clear()

temp_set3.pop() # Pop from first

print(temp_set1)
print(temp_set2)
print(temp_set3)

{1, 3, 4, '2'}

{2, 3, 4, 5}
set()
{12, 13, 14, 15}